gym==0.26.2
matplotlib==3.7.5
networkx==2.7.1
numpy==1.23.5
oauthlib==3.2.2
opencv-python==4.11.0.86
pandas==2.0.3
pillow==9.0.0
pygame==2.1.0
scipy==1.10.1
stable_baselines3==2.4.1
tensorboard==2.14.0
tensorboard-data-server==0.7.2
torch==2.4.1
torchaudio==2.4.1
torchvision==0.20.0
tqdm==4.67.1
